Repository Esysc/kafka-poc: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, maven-checkstyle

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        language: system
        entry: ansible-lint
        files: ^ansible/.*\.(yaml|yml)$
        types: [yaml]

  - repo: local
    hooks:
      - id: maven-checkstyle
        name: maven-checkstyle
        entry: mvn
        args:
        - -f
        - spring-kafka-claims/pom.xml
        - "checkstyle:check"
        language: system
        pass_filenames: false
        types: [java]
        # Ensure the hook only runs if the pom.xml exists
        files: ^spring-kafka-claims/
        stages: [pre-commit]  # Only run on actual commits, not CI

infra: add docker-compose and ansible automation
  ansible/playbook.yml
  ansible/requirements.yml
  ansible/vars.yml
  docker-compose.yml
Due: ansible-lint

build: add python dependencies
  requirements.txt
Due: none

feat: add spring boot kafka poc application
  spring-kafka-claims/Dockerfile
  spring-kafka-claims/pom.xml
  spring-kafka-claims/src/main/java/com/example/claims/ClaimsApplication.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaConsumerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaProducerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaStreamsConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/WebConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/ClaimsInputConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/HighValueConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/TopicLogController.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/model/Claim.java
  spring-kafka-claims/src/main/java/com/example/claims/model/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/streams/ClaimsStreamProcessor.java
  spring-kafka-claims/src/main/java/com/example/claims/streams/package-info.java
  spring-kafka-claims/src/main/resources/application.yml
  spring-kafka-claims/src/test/java/com/example/claims/streams/ClaimsStreamTest.java
Due: maven-checkstyle

chore: configure dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

fix: reduce line length in KafkaConsumerConfig to meet checkstyle
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaConsumerConfig.java
Due: maven-checkstyle

Change package ecosystem from 'docker' to 'docker-compose'
  .github/dependabot.yml
Due: none

chore - update pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: increase timeout and add health checks for Spring Boot app startup in CI
  .github/workflows/ci.yml
  ansible/playbook.yml
  ansible/vars.yml
  docker-compose.yml
  spring-kafka-claims/Dockerfile
Due: ansible-lint

final classes cannot be subclassed → Spring fails at startup.
  checkstyle-suppressions.xml
  spring-kafka-claims/src/main/java/com/example/claims/ClaimsApplication.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaConsumerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaProducerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaStreamsConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/WebConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/ClaimsInputConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/HighValueConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/TopicLogController.java
  spring-kafka-claims/src/main/java/com/example/claims/streams/ClaimsStreamProcessor.java
Due: maven-checkstyle

increase waiting time for response, streams are asynch
  .github/workflows/ci.yml
Due: none

remove zookeeper, not needed anymore
  docker-compose.yml
Due: none

update kafka to use Kafka KRaft internal broker port (kafka:29092).
  ansible/playbook.yml
  docker-compose.yml
Due: ansible-lint

Update model to use objects (Double) instead of primitives where fields can be null.
  spring-kafka-claims/src/main/java/com/example/claims/model/Claim.java
Due: maven-checkstyle

set createdAt to current runner time
  .github/workflows/ci.yml
Due: none

Refactor: clean up unused code, fix Avro serialization, and remove topic log
  checkstyle-suppressions.xml
  docker-compose.yml
  spring-kafka-claims/Dockerfile
  spring-kafka-claims/pom.xml
  spring-kafka-claims/src/main/avro/Claim.avsc
  spring-kafka-claims/src/main/java/com/example/claims/avro/Claim.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaConsumerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaEnableConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaProducerConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/WebConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/ClaimsInputConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/HighValueConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/TopicLogController.java
  spring-kafka-claims/src/main/java/com/example/claims/dto/ClaimDto.java
  spring-kafka-claims/src/main/java/com/example/claims/dto/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/model/Claim.java
  spring-kafka-claims/src/main/java/com/example/claims/model/package-info.java
  spring-kafka-claims/src/main/java/com/example/claims/streams/ClaimsStreamProcessor.java
  spring-kafka-claims/src/main/resources/application.yml
  spring-kafka-claims/src/test/java/com/example/claims/streams/ClaimsStreamTest.java
Due: maven-checkstyle

fix wrong endpoint
  .github/workflows/ci.yml
Due: none

feat: modernize Grafana dashboard and monitoring stack
  README.md
  docker-compose.yml
  grafana/Dockerfile
  grafana/provisioning/dashboards/dashboard.yaml
  grafana/provisioning/dashboards/kafka-dashboard.json
  grafana/provisioning/datasources/datasource.yaml
  prometheus.yml
Due: none

add grafana to dependabot monitoring
  .github/dependabot.yml
Due: none

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

fix possible cross-scripting issue
  spring-kafka-claims/pom.xml
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
Due: maven-checkstyle

add stress test against Kafka
  spring-kafka-claims/src/main/resources/application.yml
Due: none

add more descriptions for Grafana panel
  grafana/provisioning/dashboards/kafka-dashboard.json
  requirements.txt
  stress_test.py
Due: none

fix High values filter
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaEnableConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaStreamsConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/dto/ClaimDto.java
Due: maven-checkstyle

fix swagger schema
  spring-kafka-claims/src/main/java/com/example/claims/config/KafkaEnableConfig.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
  spring-kafka-claims/src/main/java/com/example/claims/streams/ClaimsStreamProcessor.java
  spring-kafka-claims/src/main/resources/application.yml
Due: maven-checkstyle

add metrics
  spring-kafka-claims/src/main/java/com/example/claims/consumer/ClaimsInputConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/consumer/HighValueConsumer.java
  spring-kafka-claims/src/main/java/com/example/claims/controller/ClaimController.java
  spring-kafka-claims/src/main/resources/application.yml
Due: maven-checkstyle

add Grafana performancedashboard
  grafana/provisioning/dashboards/claims-performance-dashboard.json
Due: none

add Grafana dashboard screenshot
  README.md
  doc/grafana-1.jpg
Due: none
